src/main/resources/schemas/operation/operation-converter.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:tns="http://schema.webpdf.de/1.0/operation" elementFormDefault="qualified" targetNamespace="http://schema.webpdf.de/1.0/operation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="operation-common.xsd" />
    <xs:include schemaLocation="operation-pdfa.xsd" />
    <xs:include schemaLocation="operation-signature.xsd" />
    <xs:complexType name="ConverterType">
        <xs:all>
            <xs:element name="page" type="tns:PageType" minOccurs="0" />
            <xs:element name="pdfa" type="tns:PdfaType" minOccurs="0" />
            <xs:element name="signature" type="tns:SignatureType" minOccurs="0" />
            <xs:element name="html" type="tns:ConverterHtmlType" minOccurs="0" />
            <xs:element name="mail" type="tns:ConverterMailType" minOccurs="0" />
            <xs:element name="officeBridge" type="tns:OfficeBridgeType" minOccurs="0" />
            <xs:element name="sharePointBridge" type="tns:SharePointBridgeType" minOccurs="0" />
            <xs:element name="report" type="tns:ConverterReportType" minOccurs="0" />
            <xs:element name="template" type="tns:ConverterTemplateType" minOccurs="0" />
            <xs:element name="text" type="tns:ConverterTextType" minOccurs="0" />
            <xs:element name="transform" type="tns:TransformType" minOccurs="0" maxOccurs="1" />
        </xs:all>
        <xs:attribute name="pages" default="" type="xs:string" />
        <xs:attribute name="compression" default="true" type="xs:boolean" />
        <xs:attribute name="jpegQuality" default="90">
            <xs:simpleType>
                <xs:restriction base="xs:int">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="100" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="reduceResolution" default="false" type="xs:boolean" />
        <xs:attribute name="dpi" default="300">
            <xs:simpleType>
                <xs:restriction base="tns:DpiType" />
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="embedFonts" default="false" type="xs:boolean" />
        <xs:attribute name="accessPassword" default="" type="xs:string" />
        <xs:attribute name="fileExtension" default="" type="xs:string" />
        <xs:attribute name="maxRecursion" default="1">
            <xs:simpleType>
                <xs:restriction base="xs:int">
                    <xs:minInclusive value="1" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="SharePointBridgeType" />
    <xs:complexType name="OfficeBridgeType" />
    <xs:complexType name="ConverterMailType">
        <xs:attribute name="downloadImages" default="false" type="xs:boolean" />
        <xs:attribute name="adjustFonts" default="false" type="xs:boolean" />
        <xs:attribute name="attachmentMode" default="embed" type="tns:AttachmentModeType" />
        <xs:attribute name="ignoreMissingBodyChunk" default="false" type="xs:boolean" />
        <xs:attribute name="useBackground" default="true" type="xs:boolean" />
    </xs:complexType>
    <xs:complexType name="ConverterHtmlType">
        <xs:all>
            <xs:element name="templateData" type="tns:TemplateDataType" minOccurs="0" maxOccurs="1" />
        </xs:all>
        <xs:attribute name="downloadImages" default="false" type="xs:boolean" />
        <xs:attribute name="adjustFonts" default="false" type="xs:boolean" />
        <xs:attribute name="baseURL" default="" type="xs:anyURI" />
        <xs:attribute name="useAsTemplate" default="false" type="xs:boolean" />
        <xs:attribute name="useBackground" default="true" type="xs:boolean" />
    </xs:complexType>
    <xs:complexType name="ConverterReportType">
        <xs:attribute name="contentProblems" default="false" type="xs:boolean" />
        <xs:attribute name="fontAliasUsage" default="false" type="xs:boolean" />
        <xs:attribute name="fontIsMissing" default="false" type="xs:boolean" />
    </xs:complexType>
    <xs:complexType name="ConverterTemplateType">
        <xs:complexContent>
            <xs:extension base="tns:TemplateType" />
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SyntaxHighlightType">
        <xs:attribute name="fontSize" default="10px" type="xs:string" />
        <xs:attribute name="fontOrigin" default="system" type="tns:FontOriginModeType" />
        <xs:attribute name="fontFamily" default="" type="xs:string" />
        <xs:attribute name="wordBreak" default="auto" type="tns:TextWrapModeType" />
        <xs:attribute name="lineNumbers" default="true" type="xs:boolean" />
        <xs:attribute name="lineHeight" default="12px" type="xs:string" />
        <xs:attribute name="language" default="" type="xs:string" />
        <xs:attribute name="available" default="" type="xs:string" />
        <xs:attribute name="relevance" default="90" type="xs:int" />
    </xs:complexType>
    <xs:complexType name="TextHighlightType">
        <xs:attribute name="fontSize" default="10px" type="xs:string" />
        <xs:attribute name="fontOrigin" default="system" type="tns:FontOriginModeType" />
        <xs:attribute name="fontFamily" default="" type="xs:string" />
        <xs:attribute name="wordBreak" default="auto" type="tns:TextWrapModeType" />
        <xs:attribute name="lineNumbers" default="false" type="xs:boolean" />
        <xs:attribute name="lineHeight" default="12px" type="xs:string" />
        <xs:attribute name="color" default="#000000" type="xs:string" />
    </xs:complexType>
    <xs:complexType name="ConverterTextType">
        <xs:all>
            <xs:element name="syntaxHighlight" type="tns:SyntaxHighlightType" minOccurs="0" />
            <xs:element name="textHighlight" type="tns:TextHighlightType" minOccurs="0" />
        </xs:all>
        <xs:attribute name="useSyntaxDetection" default="false" type="xs:boolean" />
    </xs:complexType>
    <xs:complexType name="TemplateType">
        <xs:all>
            <xs:element name="file" type="tns:TemplateFileType" minOccurs="0" maxOccurs="1" />
            <xs:element name="data" type="tns:TemplateDataType" minOccurs="0" maxOccurs="1" />
        </xs:all>
        <xs:attribute name="language" type="tns:LanguageType" use="optional" />
    </xs:complexType>
    <xs:complexType name="TransformType">
        <xs:choice>
            <xs:element name="xslTransformation" type="tns:XslTransformationType" />
            <xs:element name="xRechnung" type="tns:XRechnungType" />
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="XslTransformationType">
        <xs:all>
            <xs:element name="resources" type="tns:XslTransformationResourcesType" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="XRechnungType">
        <xs:all>
            <xs:element name="visualization" type="tns:XRechnungResourcesType" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="XslTransformationResourcesType">
        <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element name="file" type="tns:XslTransformationFileType" />
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="XRechnungResourcesType">
        <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element name="file" type="tns:XslTransformationFileType" />
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TemplateDataType">
        <xs:simpleContent>
            <xs:extension base="xs:base64Binary">
                <xs:attributeGroup ref="tns:FileDataGroup" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="TemplateFileType">
        <xs:simpleContent>
            <xs:extension base="xs:base64Binary">
                <xs:attributeGroup ref="tns:FileDataGroup" />
                <xs:attribute name="name" default="" type="xs:string" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="XslTransformationFileType">
        <xs:simpleContent>
            <xs:extension base="xs:base64Binary">
                <xs:attributeGroup ref="tns:FileDataGroup" />
                <xs:attribute name="fileName" default="" type="xs:string" />
                <xs:attribute name="format" default="xslt">
                    <xs:simpleType>
                        <xs:restriction base="tns:XslTransformationFileFormatType" />
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="XSLTResourceType">
        <xs:simpleContent>
            <xs:extension base="xs:base64Binary">
                <xs:attributeGroup ref="tns:FileDataGroup" />
                <xs:attribute name="fileName" default="" type="xs:string" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="AttachmentModeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="embed" />
            <xs:enumeration value="remove" />
            <xs:enumeration value="convert" />
            <xs:enumeration value="convertMerge" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TextWrapModeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="auto" />
            <xs:enumeration value="none" />
            <xs:enumeration value="word" />
            <xs:enumeration value="all" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FontOriginModeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="system" />
            <xs:enumeration value="folder" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="XslTransformationFileFormatType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="xslt" />
            <xs:enumeration value="other" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>