src/main/resources/schemas/operation/operation-options.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:tns="http://schema.webpdf.de/1.0/operation" elementFormDefault="qualified" targetNamespace="http://schema.webpdf.de/1.0/operation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="operation-common.xsd" />
    <xs:complexType name="OptionsType">
        <xs:annotation>
            <xs:documentation>The options operation element can be used to change the way documents are displayed.

**tip:** For all hereby contained options, please consult the chapter "Display Options". This is especially important concerning the content format of headers and footers.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="tns:BaseToolboxType">
                <xs:all>
                    <xs:element name="pageTransitions" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Can be used to change the document’s page transition animations. You can use multiple operations of this type in order to define various transitions for various page ranges in a single step.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType id="transitionsChoiceId">
                            <xs:choice minOccurs="1" maxOccurs="unbounded">
                                <xs:element name="add">
                                    <xs:annotation>
                                        <xs:documentation>Adds page transitions to a specific page range.</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:choice minOccurs="1" maxOccurs="1">
                                            <xs:element name="pageTransition" type="tns:TransitionType" />
                                        </xs:choice>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="remove">
                                    <xs:annotation>
                                        <xs:documentation>Removes page transitions from a specific page range.</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:choice minOccurs="1" maxOccurs="1">
                                            <xs:element name="transitionSelection" type="tns:SelectionTransitionType" />
                                        </xs:choice>
                                    </xs:complexType>
                                </xs:element>
                            </xs:choice>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="background" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Adds a background layer to the document or removes it (the "add" and "remove" elements are mutually exclusive, i.e., you must select one or the other).</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:choice minOccurs="1" maxOccurs="1">
                                <xs:element name="add">
                                    <xs:annotation>
                                        <xs:documentation>Adds a background image or a solid colour background layer to the document (the "colorBackground" and "imageBackground" elements are mutually exclusive, i.e., you must select one or the other). A document is not allowed to have more than one background layer.</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:choice minOccurs="1" maxOccurs="1">
                                            <xs:element name="colorBackground" type="tns:ColorBackgroundType" />
                                            <xs:element name="imageBackground" type="tns:ImageBackgroundType" />
                                        </xs:choice>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="remove">
                                    <xs:annotation>
                                        <xs:documentation>Removes a background layer from a document. As of this writing, this operation does not have any additional parameters. The "backgroundSelection" element, which must be included without fail, is meant simply as a placeholder for potential future detailed parameters.</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:choice minOccurs="1" maxOccurs="1">
                                            <xs:element name="backgroundSelection" type="tns:SelectionBackgroundType" />
                                        </xs:choice>
                                    </xs:complexType>
                                </xs:element>
                            </xs:choice>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="headerFooter" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Adds a header and footer to the document or removes them (the "add" and "remove" elements are mutually exclusive, i.e., you must select one or the other).</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:choice minOccurs="1" maxOccurs="1">
                                <xs:element name="add">
                                    <xs:annotation>
                                        <xs:documentation>Adds a header and footer to the document . A document is not allowed to have more than one header and footer definition.</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:choice minOccurs="1" maxOccurs="1">
                                            <xs:element name="headerFooterContent" type="tns:HeaderFooterType" />
                                        </xs:choice>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="remove">
                                    <xs:annotation>
                                        <xs:documentation>Removes a header and footer definition from a document. As of this writing, this operation does not have any additional parameters. The "headerFooterSelection" element, which must be included without fail, is meant simply as a placeholder for potential future detailed parameters.</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:choice minOccurs="1" maxOccurs="1">
                                            <xs:element name="headerFooterSelection" type="tns:SelectionHeaderFooterType" />
                                        </xs:choice>
                                    </xs:complexType>
                                </xs:element>
                            </xs:choice>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="boxes" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>Can be used to modify the document’s boxes.

**tip:** You can use multiple "resize" or "remove" operations in order to manipulate various boxes simultaneously in a single step.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType id="boxesChoiceId">
                            <xs:choice minOccurs="1" maxOccurs="unbounded">
                                <xs:element name="resize">
                                    <xs:annotation>
                                        <xs:documentation>Used to change the dimensions of boxes in a specific page range.</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:choice minOccurs="1" maxOccurs="1">
                                            <xs:element name="boxesResize" type="tns:BoxesResizeType" />
                                        </xs:choice>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="remove">
                                    <xs:annotation>
                                        <xs:documentation>Used to remove specific boxes from a specific page range.</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:choice minOccurs="1" maxOccurs="1">
                                            <xs:element name="boxesRemove" type="tns:SelectionBoxType" />
                                        </xs:choice>
                                    </xs:complexType>
                                </xs:element>
                            </xs:choice>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="viewerPreferences" type="tns:ViewerPreferencesType" minOccurs="0" maxOccurs="1" />
                </xs:all>
                <xs:attribute name="pageLayout" default="singlePage" type="tns:PageLayoutType">
                    <xs:annotation>
                        <xs:documentation>Sets the page layout when the PDF document is opened.
- singlePage = Individual pages
- singlePageContinous = Continuous individual pages
- twoPages = Page pairs
- twoPagesContinous = Continuous page pairs</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="initialView" default="none" type="tns:InitialViewType">
                    <xs:annotation>
                        <xs:documentation>Defines which sub-windows will be opened when the PDF document is opened.
- none = No special view
- outlines = Opens the “Bookmarks" tab
- thumbnails = Opens the “Thumbnails" tab
- fullscreen = Opens the document in full screen mode</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="magnification" default="fitWidth" type="tns:MagnificationType">
                    <xs:annotation>
                        <xs:documentation>Sets the zoom settings according to a defined mode.
- none = Uses the application’s default view
- fitWidth = Page width
- fitPage = Page dimensions
- fitHeight = Page height
- fitVisible = Page content width
- fitActual = Uses the original page dimensions (100% zoom factor)
- zoom = Sets an explicit magnification value</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="magnificationZoom" default="100">
                    <xs:annotation>
                        <xs:documentation>Used to set the value for zooming.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="0" />
                            <xs:maxInclusive value="6400" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="initialPage" default="1">
                    <xs:annotation>
                        <xs:documentation>Defines the page that will be shown when the document is opened.</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="1" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="language" default="" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Specifies the language (and optionally the country) for the content of the document. The value is encoded as RFC 3066 (Tags for the Identification of Languages) and includes either the language only (e.g. "de") or the language and a country identifier (e.g. "de-DE").</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="PageLayoutType">
        <xs:annotation>
            <xs:documentation>Sets the page layout when the PDF document is opened.
- singlePage = Individual pages
- singlePageContinous = Continuous individual pages
- twoPages = double pages starting with odd pages
- twoPagesRight = double pages starting with even pages
- twoPagesContinous = continuous double pages starting with odd pages
- twoPagesContinousRight = continuous double pages starting with even pages</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="singlePage" />
            <xs:enumeration value="singlePageContinous" />
            <xs:enumeration value="twoPages" />
            <xs:enumeration value="twoPagesRight" />
            <xs:enumeration value="twoPagesContinous" />
            <xs:enumeration value="twoPagesContinousRight" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="InitialViewType">
        <xs:annotation>
            <xs:documentation>Defines which sub-windows will be opened when the PDF document is opened.
- none = No special view
- outlines = Opens the “Bookmarks" tab
- thumbnails = Opens the “Thumbnails" tab
- fullscreen = Opens the document in full screen mode</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="none" />
            <xs:enumeration value="outlines" />
            <xs:enumeration value="thumbnails" />
            <xs:enumeration value="fullscreen" />
            <xs:enumeration value="layers" />
            <xs:enumeration value="attachments" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MagnificationType">
        <xs:annotation>
            <xs:documentation>Sets the zoom settings according to a defined mode.
- none = Uses the application’s default view
- fitWidth = Page width
- fitPage = Page dimensions
- fitHeight = Page height
- fitVisible = Page content width
- fitActual = Uses the original page dimensions (100% zoom factor)
- zoom = Sets an explicit magnification value</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="none" />
            <xs:enumeration value="fitWidth" />
            <xs:enumeration value="fitVisible" />
            <xs:enumeration value="fitHeight" />
            <xs:enumeration value="fitPage" />
            <xs:enumeration value="fitActual" />
            <xs:enumeration value="zoom" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TransitionStyleType">
        <xs:annotation>
            <xs:documentation>The style of transition animation.
- blinds = Crossfades
- box = Crossfades in a rectangular pattern
- cover = Covers
- dissolve = Dissolves
- fade = Fades
- fly = Page flies in
- glitter = Page dissolves and is replaced
- push = Page is pushed out
- split = Splits page
- uncover = Uncovers page
- wipe = Wipes page
- none = No special effect</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="blinds" />
            <xs:enumeration value="box" />
            <xs:enumeration value="cover" />
            <xs:enumeration value="dissolve" />
            <xs:enumeration value="fade" />
            <xs:enumeration value="fly" />
            <xs:enumeration value="glitter" />
            <xs:enumeration value="push" />
            <xs:enumeration value="split" />
            <xs:enumeration value="uncover" />
            <xs:enumeration value="wipe" />
            <xs:enumeration value="none" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TransitionDirection">
        <xs:annotation>
            <xs:documentation>The direction of the transition animation (provided that it can be applied to the animation).
- leftToRight = From left to right
- bottomToTop = From bottom to top
- rightToLeft = From right to left
- topToBottom = From top to bottom
- topLeftToBottomRight = From top left to bottom right
- none = Use the default value for the animation</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="leftToRight" />
            <xs:enumeration value="bottomToTop" />
            <xs:enumeration value="rightToLeft" />
            <xs:enumeration value="topToBottom" />
            <xs:enumeration value="topLeftToBottomRight" />
            <xs:enumeration value="none" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TransitionType">
        <xs:annotation>
            <xs:documentation>Creates a page transition animation for a PDF full screen presentation. It is possible to specify several transition elements for different page ranges.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="duration" default="1">
            <xs:annotation>
                <xs:documentation>The page transition animation’s duration, in seconds. Make sure to avoid excessively high values, as certain reader programs will force the entire animation to be displayed without any option for interrupting it. Moreover, an excessively long animation can result in display and execution errors in the reader program. Values under 10 seconds are recommendable.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:float">
                    <xs:minInclusive value="0" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="style" default="none" type="tns:TransitionStyleType">
            <xs:annotation>
                <xs:documentation>The style of transition animation.
- blinds = Crossfades
- box = Crossfades in a rectangular pattern
- cover = Covers
- dissolve = Dissolves
- fade = Fades
- fly = Page flies in
- glitter = Page dissolves and is replaced
- push = Page is pushed out
- split = Splits page
- uncover = Uncovers page
- wipe = Wipes page
- none = No special effect</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="direction" default="none" type="tns:TransitionDirection">
            <xs:annotation>
                <xs:documentation>The direction of the transition animation (provided that it can be applied to the animation).
- leftToRight = From left to right
- bottomToTop = From bottom to top
- rightToLeft = From right to left
- topToBottom = From top to bottom
- topLeftToBottomRight = From top left to bottom right
- none = Use the default value for the animation</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="pages" default="" type="xs:string">
            <xs:annotation>
                <xs:documentation>Used to define the page number or page range (e.g., "1,5-6,9") to which the transition animation should be applied.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="autoScrollTime" default="0">
            <xs:annotation>
                <xs:documentation>The time it will take for the next page to be automatically shown completely in full screen presentation mode.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:float">
                    <xs:minInclusive value="0" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="autoScroll" default="false" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>If true, the next page to be automatically shown completely in full screen presentation mode after a specific time.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="flyScale" default="1" type="xs:float">
            <xs:annotation>
                <xs:documentation>Option for the "fly" animation style – used to define the starting scale for the page that flies in. The page will smoothly be scaled from this starting scale all the way to the size of the page being displayed.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="flyAreaOpaque" default="false" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>Option for the "fly" animation style – used to define whether the page background for the page that flies in should be transparent initially.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="SelectionTransitionType">
        <xs:annotation>
            <xs:documentation>Used to select a page range from which all transition animations should be removed.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="pages" default="" type="xs:string">
            <xs:annotation>
                <xs:documentation>Used to define the page number or page range (e.g., "1,5-6,9") from which the transition animations should be removed.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:simpleType name="BackgroundPositionModeType">
        <xs:annotation>
            <xs:documentation>Uses one of multiple preset positions in order to position the background on the page.
- custom = Disable the use of a preset position.
- top_left = Positions the background in the top left corner.
- top_center = Positions the background in the centre on the top margin.
- top_right = Positions the background in the top right corner.
- center_left = Positions the background at the centre of the page, to the left.
- center_center = Positions the background at the centre of the page.
- center_right = Positions the background at the centre of the page, to the right.
- bottom_left = Positions the background in the bottom left corner.
- bottom_center = Positions the background in the centre on the bottom margin.
- bottom_right = Positions the background in the bottom right corner.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="custom" />
            <xs:enumeration value="top_left" />
            <xs:enumeration value="top_center" />
            <xs:enumeration value="top_right" />
            <xs:enumeration value="center_left" />
            <xs:enumeration value="center_center" />
            <xs:enumeration value="center_right" />
            <xs:enumeration value="bottom_left" />
            <xs:enumeration value="bottom_center" />
            <xs:enumeration value="bottom_right" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SelectionBackgroundType">
        <xs:annotation>
            <xs:documentation>Defines which backgrounds shall be removed. (Currently all backgrounds shall be selected for removal, if this element is present.)</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="BackgroundBaseType">
        <xs:annotation>
            <xs:documentation>A base type for all background types.</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="ColorBackgroundType">
        <xs:annotation>
            <xs:documentation>Adds a solid-color background layer to the document.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="tns:BackgroundBaseType">
                <xs:all>
                    <xs:element name="settings" type="tns:BackgroundBaseSettingsType" minOccurs="0" maxOccurs="1" />
                </xs:all>
                <xs:attribute name="color" default="#FFFFFF" type="tns:RgbColorType">
                    <xs:annotation>
                        <xs:documentation>Used to set the colour for the background layer. The colour needs to be specified as a hexadecimal RGB value with a number sign before it.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ImageBackgroundType">
        <xs:annotation>
            <xs:documentation>Adds an image as a background layer to the document.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="tns:BackgroundBaseType">
                <xs:all>
                    <xs:element name="settings" type="tns:BackgroundBaseSettingsType" minOccurs="0" maxOccurs="1" />
                    <xs:element name="image" type="tns:BackgroundFileDataType" minOccurs="1" maxOccurs="1" />
                </xs:all>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="BackgroundFileDataType">
        <xs:annotation>
            <xs:documentation>Used to define an image for generating a background. The image itself is passed with the `&lt;data&gt;` element.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:base64Binary">
                <xs:attributeGroup ref="tns:FileDataGroup" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="BackgroundBaseSettingsType">
        <xs:annotation>
            <xs:documentation>Defines basic configuration settings for generating background layers.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="position" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Used to define the position of the background layer.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute name="x" default="0" use="optional">
                        <xs:annotation>
                            <xs:documentation>X-axis position of rectangle.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:float">
                                <xs:minInclusive value="0" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="y" default="0" use="optional">
                        <xs:annotation>
                            <xs:documentation>Y-axis position of rectangle.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:float">
                                <xs:minInclusive value="0" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="metrics" default="mm" type="tns:MetricsType" use="optional">
                        <xs:annotation>
                            <xs:documentation>Unit used to specify the background’s X-axis / Y-axis position:
- mm = Millimetres
- px = Pixels</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="position" default="center_center" type="tns:BackgroundPositionModeType">
                        <xs:annotation>
                            <xs:documentation>Uses one of multiple preset positions in order to position the background on the page.
- custom = Disable the use of a preset position.
- top_left = Positions the background in the top left corner.
- top_center = Positions the background in the centre on the top margin.
- top_right = Positions the background in the top right corner.
- center_left = Positions the background at the centre of the page, to the left.
- center_center = Positions the background at the centre of the page.
- center_right = Positions the background at the centre of the page, to the right.
- bottom_left = Positions the background in the bottom left corner.
- bottom_center = Positions the background in the centre on the bottom margin.
- bottom_right = Positions the background in the bottom right corner.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="visibility" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Used to define the element’s visibility in various use contexts.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute name="onPrint" default="true" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation>If true, the background will be printed when the document is printed.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                    <xs:attribute name="onScreen" default="true" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation>If true, the background will be shown when the document is displayed.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="pages" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Selects the pages to which backgrounds shall be applied.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:choice minOccurs="1" maxOccurs="1">
                        <xs:element name="pageInterval" type="tns:PageIntervalType" minOccurs="0" maxOccurs="1" />
                    </xs:choice>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attributeGroup ref="tns:BaseBackgroundGroup" />
    </xs:complexType>
    <xs:complexType name="PageIntervalType">
        <xs:annotation>
            <xs:documentation>Used to define the document page range to which new elements should be added. Can be used to define a fixed interval from one page to another page.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="odd" default="true" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>If true, the elements are also placed on pages with odd-numbered pages.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="even" default="true" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>If true, the elements are also placed on even-numbered pages.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="pages" default="*" type="xs:string">
            <xs:annotation>
                <xs:documentation>Defines the pages of the PDF document to which new elements should be added. Either a single page or a range of pages (e.g., "1-5") can be defined. (Can only be used to define a single contiguous interval of consecutive pages.)</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:attributeGroup name="BaseBackgroundGroup">
        <xs:attribute name="relativeToPage" default="true" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>If true, the background layer will not be scaled relative to its own original size, but rather to the dimensions of the page containing it.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="replaceExisting" default="false" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>If true, an existing background layer will be automatically deleted and replaced with the new one. If false, an existing background layer will cause the operation to be aborted.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="scale" default="100">
            <xs:annotation>
                <xs:documentation>A percentage value used to specify the scaling for the background layer. This scaling can either be relative to the background layer’s original size or to the dimensions of the page containing it (depends on the "relativeToPage" parameter)</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:int">
                    <xs:minInclusive value="0" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="rotation" default="0">
            <xs:annotation>
                <xs:documentation>A value between 0 and 360 degrees that is used to specify the background layer’s rotation.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:integer">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="360" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="opacity" default="100">
            <xs:annotation>
                <xs:documentation>A percentage value that is used to specify the background layer’s transparency (100 percent means fully visible).</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:integer">
                    <xs:minInclusive value="0" />
                    <xs:maxInclusive value="100" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:complexType name="SelectionHeaderFooterType">
        <xs:annotation>
            <xs:documentation>Defines which headers/footers shall be removed. (Currently all headers/footers shall be selected for removal, if this element is present.)</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="HeaderFooterType">
        <xs:annotation>
            <xs:documentation>Used to define the header and footer that will be added to a document.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="pages" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Selects the pages, to which header/footer elements shall be applied.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:choice minOccurs="1" maxOccurs="1">
                        <xs:element name="pageInterval" type="tns:PageIntervalType" minOccurs="0" maxOccurs="1" />
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name="margin" type="tns:OptionsMarginType" minOccurs="0" maxOccurs="1" />
            <xs:element name="font" type="tns:OptionsFontType" minOccurs="0" maxOccurs="1" />
            <xs:element name="header" type="tns:HeaderFooterPositionsType" minOccurs="0" maxOccurs="1" />
            <xs:element name="footer" type="tns:HeaderFooterPositionsType" minOccurs="0" maxOccurs="1" />
            <xs:element name="date" type="tns:HeaderFooterDate" minOccurs="0" maxOccurs="1" />
        </xs:all>
        <xs:attribute name="firstPageNumber" default="1">
            <xs:annotation>
                <xs:documentation>Used to specify the starting page for page number formats.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:int">
                    <xs:minInclusive value="1" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="replaceExisting" default="false" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>If true, an existing header and footer definition will be automatically deleted and replaced with the new one. If false, an existing definition will cause the operation to be aborted.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="HeaderFooterPositionsType">
        <xs:annotation>
            <xs:documentation>The header/footer consists of three parts (left margin, centre, right margin). This element can be used to define the text contents that should be shown at these positions. The contents can consist of static and dynamic contents.

**important:** Please consult the chapter "Display Options" concerning the format of the hereby set contents.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="left" default="" type="xs:string">
            <xs:annotation>
                <xs:documentation>Used to define the text content of the header/footer on the left page margin.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="center" default="" type="xs:string">
            <xs:annotation>
                <xs:documentation>Used to define the text content of the header/footer in the centre.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="right" default="" type="xs:string">
            <xs:annotation>
                <xs:documentation>Used to define the text content of the header/footer on the right page margin.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="BoxesResizeType">
        <xs:annotation>
            <xs:documentation>Used to change the dimensions of a specific box in a specific page range in the document.</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="dimensions" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Used to define the position and dimensions of a containing element.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:attribute name="x" default="0" use="optional">
                        <xs:annotation>
                            <xs:documentation>The horizontal displacement of the element.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:float">
                                <xs:minInclusive value="0" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="y" default="0" use="optional">
                        <xs:annotation>
                            <xs:documentation>The vertical displacement of the element.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:float">
                                <xs:minInclusive value="0" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="width" default="0" use="optional">
                        <xs:annotation>
                            <xs:documentation>The width of the element.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:float">
                                <xs:minInclusive value="0" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="height" default="0" use="optional">
                        <xs:annotation>
                            <xs:documentation>The height of the element.</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:float">
                                <xs:minInclusive value="0" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="metrics" default="mm" type="tns:MetricsType" use="optional">
                        <xs:annotation>
                            <xs:documentation>Unit of measurement for specifying dimensions and items:
- mm = Millimetres
- px = Pixels</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="pages" type="xs:string">
            <xs:annotation>
                <xs:documentation>Used to define the page(s) in which boxes should be scaled. The page number can be an individual page, a page range, or a list (separated with commas) (e.g., "1,5-6,9"). To specify "all pages," use an asterisk ("*").</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="box" default="media_box" type="tns:PageBoxType">
            <xs:annotation>
                <xs:documentation>Used to select the box that should be scaled.
- media_box = The page’s physical dimensions.
- crop_box = The visible (printable) page area.
- bleed_box = Untrimmed content position on the page (content dimensions plus trim box).
- trim_box = Trimmed content position on the page (final content dimensions).
- art_box = Position for special page content (images).</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:simpleType name="PageBoxType">
        <xs:annotation>
            <xs:documentation>Used to select the box that should be scaled.
- media_box = The page’s physical dimensions.
- crop_box = The visible (printable) page area.
- bleed_box = Untrimmed content position on the page (content dimensions plus trim box).
- trim_box = Trimmed content position on the page (final content dimensions).
- art_box = Position for special page content (images).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="media_box" />
            <xs:enumeration value="crop_box" />
            <xs:enumeration value="bleed_box" />
            <xs:enumeration value="trim_box" />
            <xs:enumeration value="art_box" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SelectionBoxType">
        <xs:annotation>
            <xs:documentation>Selects a specific box of a given page range of a PDF document.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="pages" default="*" type="xs:string">
            <xs:annotation>
                <xs:documentation>Used to define the page(s) from which boxes should be removed. The page number can be an individual page, a page range, or a list (separated with commas) (e.g., "1,5-6,9"). To specify "all pages," use an asterisk ("*").</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="box" default="crop_box" type="tns:PageBoxType">
            <xs:annotation>
                <xs:documentation>Selects the box to remove.
- crop_box = The visible (printable) page area.
- bleed_box = Untrimmed content position on the page (content dimensions plus trim box).
- trim_box = Trimmed content position on the page (final content dimensions).
- art_box = Position for special page content (images).</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="OptionsMarginType">
        <xs:annotation>
            <xs:documentation>Defines the outer offsets between an inner element and an outer element.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="left" default="0" use="optional">
            <xs:annotation>
                <xs:documentation>The offset from the left edge of the surrounding element.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:float" />
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="right" default="0" use="optional">
            <xs:annotation>
                <xs:documentation>The offset from the right edge of the surrounding element.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:float" />
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="top" default="0" use="optional">
            <xs:annotation>
                <xs:documentation>The offset from the upper edge of the surrounding element.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:float" />
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="bottom" default="0" use="optional">
            <xs:annotation>
                <xs:documentation>The offset from the bottom edge of the surrounding element.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:float" />
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="metrics" default="mm" type="tns:MetricsType" use="optional">
            <xs:annotation>
                <xs:documentation>Unit for box specifications:
- mm = Millimetres
- px = Pixels</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="OptionsFontType">
        <xs:annotation>
            <xs:documentation>Used to specify the font and formatting for the header and footer.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" default="" type="xs:string">
            <xs:annotation>
                <xs:documentation>Used to specify the name of the font that should be used for the text output. If a font is not specified, "Helvetica" will be used.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="size" default="10">
            <xs:annotation>
                <xs:documentation>Used to set the text size for the text output.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:int">
                    <xs:minInclusive value="1" />
                    <xs:maxInclusive value="1296" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="underline" default="false" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>If true, the text in the header and footer will be underlined.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="color" default="#000000" type="tns:RgbColorType">
            <xs:annotation>
                <xs:documentation>Used to set the colour for the text output. The colour needs to be specified as a hexadecimal RGB value with a number sign before it.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="HeaderFooterDate">
        <xs:annotation>
            <xs:documentation>Sets a date for inclusion in the added header/footer element.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="day">
            <xs:annotation>
                <xs:documentation>The day of the month.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:int">
                    <xs:maxInclusive value="31" />
                    <xs:minInclusive value="1" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="month">
            <xs:annotation>
                <xs:documentation>The selected month.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:int">
                    <xs:minInclusive value="1" />
                    <xs:maxInclusive value="12" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="year" type="xs:int">
            <xs:annotation>
                <xs:documentation>The selected year.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="ViewerPreferencesType">
        <xs:annotation>
            <xs:documentation>Allows to change PDF reader specific settings and dialog defaults.

**important:** Whether these parameters actually have an effect, depends directly on their support in the application used to display the PDF.

**important:** Only few of those settings are actually "enforced" and most PDF readers will provide the viewer with the means to circumvent or even alter those settings.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="hideToolbar" default="false" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>If true, the toolbars of the PDF reader are hidden for the display of this document.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="hideMenuBar" default="false" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>If true, the menu bars of the PDF reader are hidden for the display of this document.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="hideWindowUI" default="false" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>If true, the scrollbars and other navigation features of the PDF reader are hidden for the display of this document.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="fitWindow" default="false" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>If true, the window size of the PDF reader will be tried to fit the first page of the document.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="centerWindow" default="false" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>If true, the PDF reader window is moved to the center of the screen.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="displayDocTitle" default="false" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>If true, the document title of the document is displayed in the title bar of the PDF reader instead of the file name.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="nonFullScreenPageMode" default="none" type="tns:NonFullScreenPageModeType">
            <xs:annotation>
                <xs:documentation>Configures the display of the document when the document is not viewed in full screen mode. This primarily configures which navigation view should be opened for the viewer.
- none = Neither the content overview nor the thumbnail of the pages should be displayed.
- outlines = The content overview of the document should be displayed.
- thumbnails = The thumbnail view of the pages of the document should be displayed.
- optionalContents = The layers (Optional Content Groups) of the document should be displayed.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="textDirection" default="leftToRight" type="tns:TextDirectionType">
            <xs:annotation>
                <xs:documentation>Specifies the text reading direction for the PDF reader's read aloud.
- leftToRight = From left to right.
- rightToLeft = From right to left. (Including vertical fonts, such as: Chinese, Japanese, Korean, etc.).</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="viewArea" default="crop_box" type="tns:PageBoxType">
            <xs:annotation>
                <xs:documentation>Selects the page frame to be used for this document to determine the displayed area. (Most PDF readers will not take this setting into account).
- media_box = The physical dimensions of the page.
- crop_box = The visible (printable) page area.
- bleed_box = Untrimmed content position on the page (content dimensions plus bleed frame).
- trim_box = Trimmed content position on the page (final content dimensions).
- art_box = Special page content position (graphics).</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="viewClip" default="crop_box" type="tns:PageBoxType">
            <xs:annotation>
                <xs:documentation>Selects the page frame to use for this document to crop the displayed area. (Most PDF readers will not take this setting into account).
- media_box = The physical dimensions of the page.
- crop_box = The visible (printable) page area.
- bleed_box = Untrimmed content position on the page (content dimensions plus crop frame).
- trim_box = Trimmed content position on the page (final content dimensions).
- art_box = Special page content position (graphics).</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="printArea" default="crop_box" type="tns:PageBoxType">
            <xs:annotation>
                <xs:documentation>Selects the page frame to be used for this document to determine the printed area. (Most PDF readers will not take this setting into account).
- media_box = The physical dimensions of the page.
- crop_box = The visible (printable) page area.
- bleed_box = Untrimmed content position on the page (content dimensions plus bleed frame).
- trim_box = Trimmed content position on the page (final content dimensions).
- art_box = Special page content position (graphics).</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="printClip" default="crop_box" type="tns:PageBoxType">
            <xs:annotation>
                <xs:documentation>Selects the page frame to be used for this document to crop the printed area. (Most PDF readers will not take this setting into account).
- media_box = The physical dimensions of the page.
- crop_box = The visible (printable) page area.
- bleed_box = Untrimmed content position on the page (content dimensions plus crop frame).
- trim_box = Trimmed content position on the page (final content dimensions).
- art_box = Special page content position (graphics).</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="printScaling" default="readerDefault" type="tns:PrintScaleType">
            <xs:annotation>
                <xs:documentation>Selects the page - scaling mode for printouts of the document. (This setting is only a dialog default and can be changed by the user at any time).
- readerDefault = Use the scaling functions provided by the display program.
- noPrintScaling = Do no page scaling and print the pages in original size.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="duplex" default="none" type="tns:DuplexType">
            <xs:annotation>
                <xs:documentation>Sets whether and how pages are to be printed on both sides. (This setting is only a dialog default and can be changed by the user at any time).
- simplex = Print on one side.
- duplexFlipLongEdge = Print on both sides and flip over the longer edge of the page.
- duplexFlipShortEdge = Print on both sides and flip over the shorter side edge.
- none = Use the default settings of the display program.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="printTraySelection" default="readerDefault" type="tns:PrintTraySelectionType">
            <xs:annotation>
                <xs:documentation>Selects the default setting for how print trays should be selected for printing the pages of the document. (This setting is only a dialog default and can be changed by the user at any time).
- readerDefault = Use the default settings of the display program.
- byPDFSize = Try to determine the necessary paper size and the used print tray automatically based on the size of the pages of the document.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="printPageRange" default="" type="xs:string">
            <xs:annotation>
                <xs:documentation>Specifies which page(s) to print. For the page number, either a single page, a range of pages or a list (separated by commas) can be specified (e.g. "1,5-6,9"). The specification of all pages is done with "*". (This setting is only a dialog default and can be changed by the user at any time).</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="numCopies" default="1">
            <xs:annotation>
                <xs:documentation>Specifies how many copies of the document are to be printed. (This setting is only a dialog default and can be changed by the user at any time).</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:int">
                    <xs:minInclusive value="1" />
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:simpleType name="NonFullScreenPageModeType">
        <xs:annotation>
            <xs:documentation>Konfiguriert die Anzeige des Dokuments, wenn das Dokument nicht im Vollbildmodus betrachtet wird. Dies konfiguriert in erste Linie welche Navigationsansicht für den Betrachter geöffnet werden soll.
- none = Weder die Inhaltsübersicht, noch die Miniaturansicht der Seiten sollen angezeigt werden.
- outlines = Die Inhaltsübersicht des Dokuments soll angezeigt werden.
- thumbnails = Die Miniaturansicht der Seiten des Dokuments soll angezeigt werden.
- optionalContents = Die Layer (Optional Content Groups) des Dokuments sollen angezeigt werden.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="none" />
            <xs:enumeration value="outlines" />
            <xs:enumeration value="thumbnails" />
            <xs:enumeration value="optionalContents" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TextDirectionType">
        <xs:annotation>
            <xs:documentation>Specifies the text reading direction for the display program's read aloud.
- leftToRight = From left to right.
- rightToLeft = From right to left. (Including vertical fonts, such as: Chinese, Japanese, Korean, etc.).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="leftToRight" />
            <xs:enumeration value="rightToLeft" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DuplexType">
        <xs:annotation>
            <xs:documentation>Sets whether and how pages are to be printed on both sides. (This setting is only a dialog default and can be changed by the user at any time).
- simplex = Print on one side.
- duplexFlipLongEdge = Print on both sides and flip over the longer edge of the page.
- duplexFlipShortEdge = Print on both sides and flip over the shorter side edge.
- none = Use the default settings of the display program.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="none" />
            <xs:enumeration value="simplex" />
            <xs:enumeration value="duplexFlipShortEdge" />
            <xs:enumeration value="duplexFlipLongEdge" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PrintTraySelectionType">
        <xs:annotation>
            <xs:documentation>Selects the default setting for how print trays should be selected for printing the pages of the document. (This setting is only a dialog default and can be changed by the user at any time).
- readerDefault = Use the default settings of the display program.
- byPDFSize = Try to determine the necessary paper size and the used print tray automatically based on the size of the pages of the document.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="readerDefault" />
            <xs:enumeration value="byPDFSize" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PrintScaleType">
        <xs:annotation>
            <xs:documentation>Selects the page - scaling mode for printouts of the document. (This setting is only a dialog default and can be changed by the user at any time).
- readerDefault = Use the scaling functions provided by the display program.
- noPrintScaling = Do no page scaling and print the pages in original size.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="readerDefault" />
            <xs:enumeration value="noPrintScaling" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>